.users{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
.user{
  flex-basis:15%;
  min-height: 150px;
  margin: 10px;
  padding: 10px;
  background: #efefef;
}
