.user-form{

  input, select{
    width:20%;
    padding: 5px;
    margin: 5px 0;
  }

  .correct{
    border: 1px solid #0f0;
  }

  .error{
    border: 1px solid red;
  }

  mark{
    background: none;
    color:red;
    margin-left:10px;
  }
}
