.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-nav {
    ul{
      display: flex;
      list-style: none;
      align-items: center;

      li {
        margin: 0 15px 0 0;

        a{
          font-weight: bold;
          color:#fff;
          text-transform: uppercase;
        }
      }
    }
  }
  .user-nav{
    display: flex;
    align-items: center;

    a, span{
      font-weight: bold;
      color:#fff;
      text-transform: uppercase;
      padding: 0 5px;
    }
  }
}
