.products {
  display: flex;
  flex-wrap: wrap;

  .product-box {
    position: relative;
    border: 2px solid #90c3f8;
    text-align: center;
    padding: 45px 0 0;
    margin: 0 0 15px;
  }
  li{
    margin: 30px 40px 0 40px;
    width: 125px;
    text-align: center;
  }
  .product-controls{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    background: #90c3f8;
    padding: 3px;

    .edit, .remove{
      width: 1em;
      height: 1em;
      font-size: 0.875em;
    }
    img{
      display: block;
    }
  }
}


